<!DOCTYPE html>
<html ng-app="TalkTalkApp">
  <head>
    <meta>
    <title>TalkTalk</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/mainController.js"></script>
    <link rel="stylesheet" href="style.scss">
  </head>
  <body ng-controller="MainController as main">
    <h1>Hi I'm Will</h1>

    <ul>
      <li ng-repeat="main in main.all" id="user">
        <h4><a href="#" ng-click="showDetails = !showDetails">{{ main.name }}</a></h4>
        <div ng-show="showDetails">
           <p>Email: {{ main.email }}</p>
           <p>Job: {{ main.job }}</p>
           <p>Location: {{ main.location }}</p>
           <p>Tag: {{ main.tag }}</p>
           <img src="{{ main.avatar }}" alt="Avatar">
        </div>
      </li>
    </ul>

    <form ng-submit="main.add()">Add A User
      <input class="formInput" type="text" placeholder="Name" ng-model="main.addUser.name">
      <input class="formInput" type="text" placeholder="Email" ng-model="main.addUser.email">
      <input class="formInput" type="text" placeholder="Job" ng-model="main.addUser.job">
      <input class="formInput" type="text" placeholder="Location" ng-model="main.addUser.location">
      <input class="formInput" type="text" placeholder="Tag" ng-model="main.addUser.tag">
      <input class="formInput" type="text" placeholder="Avatar" ng-model="main.addUser.avatar">
    </form>

  </body>
</html>
